# =========================
# FRONTEND (Angular)
# =========================

frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.angular/cache/
frontend/coverage/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/

# VS Code inside frontend
frontend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/extensions.json
!frontend/.vscode/launch.json
!frontend/.vscode/tasks.json


# =========================
# BACKEND (Spring Boot)
# =========================

backend/target/
backend/build/
backend/out/

# logs
backend/*.log
backend/logs/

# IDE backend
backend/.idea/
backend/*.iml

backend/.vscode/*
!backend/.vscode/settings.json
!backend/.vscode/extensions.json
!backend/.vscode/launch.json
!backend/.vscode/tasks.json

backend/.project
backend/.classpath
backend/.settings/
backend/.springBeans
backend/.sts4-cache/


# =========================
# ROOT IDE
# =========================

.idea/
.vscode/
*.iml


# =========================
# OS files
# =========================

.DS_Store
Thumbs.db


# =========================
# ENV / secrets
# =========================

.env
.env.*
application-local.properties
application-dev.properties
application-prod.properties


# =========================
# Logs / coverage
# =========================

logs/
coverage/
*.log